.comic-content {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 3em;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comic-content-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    button {
      width: 10em;
      cursor: pointer;
      border: none;
      padding: 1em;
      text-align: center;
      font-size: 1em;
      background-color: #e0e0e0;
      color: #000;
    }
    button:hover {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
  }
}